<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'card_styles.css')}}">
    <title>Portfolio2022</title>
</head>
<body>
<main>
    <h3 style="text-align: center;" class="b">Проекты</h3>
    <div class="card-holder">
        {%for project in projects%}
        <a href="{{url_for('project_card', name=project.name)}}">
            <div class="card" style=background-image:url("{{project.project_pic_path}}")>
                <h3 class="card-name">
                    {{project.name}}
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        {{project.short_description}}
                    </div>
                </div>
            </div>
        </a>
        {%endfor%}


    </div>
</main>
<footer>
    <div class="footer-content flex-container">
        <div class="footer-el">
            Контакты<br>
            <a href="https://t.me/bobak00" class="line">Telegram</a><br>
            <a href="mailto:abqu144@gmail.com" class="line">E-mail</a>
        </div>
        <div class="footer-el">
            Александр Бобков<br>
            Библиотека проектов<br><br>
            Москва<br>
            2022
        </div>


    </div>
</footer>
</body>
</html>