<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/card_styles.css">
    <title>SiteName</title>
</head>
<body>
<main>
    <h3 style="text-align: center;" class="b">Проекты</h3>
    <div class="card-holder">
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>
        <a href="project-card.html">
            <div class="card" style="background-image: url('../imgs/test-image.jpg')">
                <h3 class="card-name">
                    projectName
                </h3>
                <div class="card-container">
                    <div class="short-description">
                        Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же вкусно я покушал Бля как же
                        вкусно я покушал Бля как же вкусно я покушал
                    </div>
                </div>
            </div>
        </a>


    </div>
</main>
<footer>
    <div class="footer-content flex-container">
        <div class="footer-el">
            Контакты<br>
            <a href="https://t.me/bobak00" class="line">Telegram</a><br>
            <a href="mailto:abqu144@gmail.com" class="line">E-mail</a>
        </div>
        <div class="footer-el">
            Александр Бобков<br>
            Библиотека проектов<br><br>
            Москва<br>
            2022
        </div>


    </div>
</footer>
</body>
</html>