<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'arrow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'card_styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static',filename = 'scripts.js')}}"></script>
    <title>{{project.name}} | Portfolio2022</title>
</head>
<body>

<main>
    <div class="project-pic-container wide">
        <img class="project-pic" src="../{{project.project_pic_path}}">
        <header>
            <a href="{{url_for('index')}}" class="btn arrow-container">
                <div class="gg-arrow-left">
                </div>
            </a>
            <h1>{{project.name}}</h1>
        </header>

        <div class="description">
            {{project.description}}
        </div>
    </div>


    <button class="toggle-task btn b wide block" onclick="toggleTask()">Посмотреть тз на проект</button>
    <div class="buffer"></div>
    <div class="task block">
        {{project.task | safe}}
    </div>


    <div class="wide flex-container">
        <a href="{{project.test_link}}">
            <div class="test block btn">
                <h3>Потрогать проект</h3>
                {{project.test_notes | safe}}
            </div>
        </a>
        <div class="techs block">
            <h3>Инструменты</h3>
            {%for tech in project.technologies%}
            <span class="tech">{{tech}}</span>
            {%endfor%}
        </div>
    </div>

    <div class="git b btn wide block ">
        <a href="{{project.github_link}}">Исходный код проекта на GitHub</a>
    </div>
</main>
<footer>
    <div class="footer-content flex-container">
        <div class="footer-el">
            Контакты<br>
            <a href="https://t.me/bobak00" class="line">Telegram</a><br>
            <a href="mailto:abqu144@gmail.com" class="line">E-mail</a>
        </div>
        <div class="footer-el">
            Александр Бобков<br>
            Библиотека проектов<br><br>
            Москва<br>
            2022
        </div>


    </div>
</footer>
</body>
</html>

